.button {
}

.disabled {
    background-color: rgb(198, 202, 206);
    color: rgb(128, 123, 123)
}

.secondary {
    border: 1px solid blue;
    color: blue
}

.default {
    background-color: blue;
    color: white
}

.red {
    background-color: red;
    color: white
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
