.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 36px;
}

.text1 {
  margin-right: 10px;
  margin-left: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0d0b0c;
}

.text2 {
  margin-left: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0d0b0c;
}
